@model PetFragrant_Test.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1 class="qtxt"><center>編輯</center></h1>


<div class="row d-flex">
    <div class="col-md-12 d-flex justify-content-center align-content-center">
        <form asp-action="Edit" class="w-50 qtxt">
            <hr class="qhr" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdcutId" />

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <textarea asp-for="ProductName" class="form-control">
                </textarea>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group d-flex qtxt">
                <div class="w-50">
                    <label class="control-label ">主類別</label>
                    <select id="mainCategory" class="form-control" asp-items="ViewBag.CategoriesID"></select>
                </div>
                <div class="w-50 ms-2">
                    <label class="control-label">子類別</label>
                    <select id="subCategory" name="CategoriesId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <textarea asp-for="ProductDescription" class="form-control">
                </textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="control-label"></label>
                <input asp-for="Inventory" class="form-control" />
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-end">

                <input type="submit" value="Save" class="qbtn mt-2" />
            </div>
            <div class="form-group d-flex justify-content-end">
                <a asp-action="Index">回前頁</a>
            </div>
        </form>
    </div>
</div>



@section endJS{
    <script>
        $(document).ready(function () {
            var mainCategory = $('#mainCategory');
            var subCategory = $('#subCategory');

            updateSubCategory(mainCategory.val());
            mainCategory.change(function () {
                var selectedMainCategory = $(this).val();
                updateSubCategory(selectedMainCategory);
            });

            function updateSubCategory(selectedMainCategory) {
                $.ajax({
                    url: '@Url.Action("GetSubcategory", "Products")',
                    type: 'GET',
                    data: { id: selectedMainCategory },
                    success: function (data) {
                        // console.log(data);
                        subCategory.empty();
                        $.each(data, function (index, item) {
                            var option = $('<option>').val(item.categoryId
                            ).text(item.categoryName);
                            subCategory.append(option);
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
}

@section topCSS
    {
    <style>
        .qhr {
            border: 3px solid;
            color: #641E16;
        }

        .qtxt {
            color: #6C5C53;
            font-weight: bold;
        }

        .qbtn {
            width: 120px;
            border-radius: 50px;
            background-color: #6C5C53;
            font-weight: bolder;
            color: white !important;
            border-color: transparent;
        }
    </style>


}