@model IEnumerable<PetFragrant_Test.Models.Product>
@{
    ViewData["Title"] = ViewData["keyword"] + " 搜尋結果";
}

<h4>找到 @Model.Count() 個商品</h4>

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <a asp-action="ProductDetail" asp-route-id="@item.ProdcutId" class="card col-2 m-3 bg-white">
            <div class="d-flex flex-column  align-items-center">
                <div class="img-con"><img src="~/images/@(item.ProdcutId)/1.png" class="w-100 mt-1"></div>

                <div class="card-body">
                    <h6 class="card-title w-100" style="color:midnightblue">@item.ProductName</h6>
                    <p class="m-0 p-0"><del style="color:gray;">$@(item.Price * (decimal)(0.9))</del></p>
                    <h5 class="card-text d-flex  align-items-center justify-content-between  w-100" style="color:darkred;">$@item.Price <p><i class="material-icons text-secondary">favorite_border</i></p></h5>
                </div>
            </div>
        </a>

    }
</div>

@section topCSS{
    <style>
        a{
            text-decoration:none;
        }
    </style>
}