
@{
    ViewData["Title"] = "FinishOrder";
}

<center>
    <div class="jello-vertical ">
        <h1>訂單完成!</h1>
    </div>
    <a class="btn btn-danger m-2" href="/Home">回首頁</a>
</center>


@section topCSS{
    <link href="~/css/animation.css" rel="stylesheet" />
}