@model IEnumerable<PetFragrant_Test.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "likes";
}

<h1>按讚好物</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>商品名稱</th>
            <th>價錢</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
                <td valign="middle" align="center"><a href="/Products/ProductDetail/@(item.ProductData.ProdcutId)"><img src="~/images/@(item.ProductData.ProdcutId)/1.png" class="img-con-s mt-1 "></a></td>
                <td valign="middle"><h6 class="card-title w-100" style="color:midnightblue">@item.ProductData.ProductName</h6></td>
                <td valign="middle"><p>NT @Math.Round(item.ProductData.Price * (decimal)(0.9))</p></td>
                <td valign="middle"><button type="button" class="btn btn-danger" onclick="unfollow('@item.ProductData.ProdcutId')">取消追蹤</button></td>
        </tr>
    }
    </tbody>
</table>

@section endJS{
    <script>
        function unfollow(productId) {

            $.ajax({
                url: '@Url.Action("Unfollow", "User")',
                type: 'POST',
                data: { id: productId },
                success: function (response) {
                    alert('fuck');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    //alert('WTF');
                    location.reload();
                }
            });
        }
    </script>
}

