
@{
    ViewData["Title"] = "About";
}

<div class="container imgw w-75 ">
    <h1 class="browntext" style="font-size: 50px;"><b><center>關於寵物香園</center></h1></b>
    <div class="card  mb-2 ">
        <div class=" d-flex flex-row-reverse g-0 flex-wrap">
            <div class="col-md-6 d-flex ">
                <img src="~/images/leoo.jpg"
                     alt="...">
            </div>
            <div class="col-md-6 g-0 d-flex jacenter aboutusbg">
                <div class="card-body browntext">
                    <h3 class="card-title text-center aboutustext aboutusbg"><b>品牌理念</b></h3><hr>
                    <p class="card-text">
                        <h3><b>寵物香園，萌寵的好朋友!</h3></b>
                        我們致力於為您提供最優質的貓貓狗狗周邊商品和無微不至的服務。
                        我們有販售寵物食品、玩具、保健品、美容等，偶爾還會提供一些健康與冷門的小知識!
                        盼望香檳們能在這邊獲得良好的消費體驗!。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card  mb-2 ">
        <div class=" row g-0">
            <div class=" col-md-6 d-flex  ">
                <img src="https://i.pinimg.com/550x/ab/94/6d/ab946deffadbb89431d42e91237baa22.jpg"
                     alt="...">
            </div>
            <div class="col-md-6 g-0 d-flex jacenter aboutusbg">
                <div class="card-body browntext">
                    <h3 class="card-title text-center aboutustext"><b>給香檳們的話</b></h3><hr>
                    <p class="card-text browntext">
                        <h3><b>香檳代表著香香的賓客</b><br></h3>
                        您可以在這個香香的寵物花園裡，為您的愛寵挑選健康又有趣的商品。<br>
                        我們擁有三個會員級別，分別是一般香檳、金香檳和鑽石香檳，滿足您不同的需求。<br>
                        無論您是一般香檳、金香檳還是鑽石香檳會員，我們致力於為您提供最好的購物體驗。
                        我們為您和愛寵打造了一個愛心與品質兼具的購物天堂。<br>
                        我們期待您的光臨，一同來享受這個香香的寵物世界吧！
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <style>
        .aboutustext {
            color: #E67E22;
            background-color: #FBEEE6;
        }

        .browntext {
            color: #641E16 !important;
        }

        .aboutusbg {
            background-color: #FBEEE6;
        }

        .imgw img {
            width: 100%;
            height: 400px;
            justify-content: center;
            align-content: center;
        }
        
    </style>
}