
@{
    ViewData["Title"] = "About";
}

<div class="container imgw">
    <h1 class="browntxt" style="font-size: 50px;"><b><center>關於寵物香園<i class="material-icons">copyright</i></center></h1></b>
    <div class="card  mb-2  ">
        <div class=" d-flex flex-row-reverse g-0 flex-wrap">
            <div class="col-md-6 d-flex ">
                <img src="https://media.istockphoto.com/id/1319206416/photo/a-gentle-and-lovely-ragdoll-cat.jpg?s=612x612&w=0&k=20&c=2zPc-Gd5m-Mjl2hTPCAcYRr9mNCyVW7_fWfBKOJjERw="
                     alt="照片不見了啦QAQ">
            </div>
            <div class="col-md-6 g-0 d-flex jacenter ">
                <div class="card-body browntxt">
                    <h3 class="card-title text-center aboutustxt "><b>品牌理念</b></h3><hr style="border: 5px solid">
                    <p class="card-txt">
                        <h3><b><i class="material-icons">pets</i>寵物香園，萌寵的好朋友<i class="material-icons">pets</i></h3></b>
                        我們致力於為您提供最優質的貓貓狗狗周邊商品和無微不至的服務。
                        我們有販售寵物食品、玩具、保健品、美容等，偶爾還會提供一些健康與冷門的小知識!
                        盼望香檳們能在這邊獲得良好的消費體驗!。
                    </p>
                    <hr style="border: 5px solid">
                </div>
            </div>
        </div>
    </div>
    <div class="card  mb-2 ">
        <div class=" row g-0">
            <div class=" col-md-6 d-flex ">
                <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                     alt=" 照片不見了啦QAQ ">
            </div>
            <div class="col-md-6 g-0 d-flex jacenter ">
                <div class="card-body browntxt">
                    <h3 class="card-title text-center aboutustxt"><b>給香檳們的話</b></h3><hr style="border: 5px solid">
                    <p class="card-txt browntxt">
                        <h3><b><i class="material-icons">pets</i>香檳代表著香香的賓客</b><i class="material-icons">pets</i><br></h3>
                        您可以在這個香香的寵物花園裡，為您的愛寵挑選健康又有趣的商品。<br>
                        我們擁有三個會員級別，分別是一般香檳、金香檳和鑽石香檳，滿足您不同的需求。<br>
                        無論您是一般香檳、金香檳還是鑽石香檳會員，我們致力於為您提供最好的購物體驗。
                        我們為您和愛寵打造了一個愛心與品質兼具的購物天堂。<br>
                        我們期待您的光臨，一同來享受這個香香的寵物世界吧！
                    </p>
                    <hr style="border: 5px solid">
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS{
    <style>
        .aboutustxt {
            color: #D98880;
            background-color: #FBEEE6;
        }

        .browntxt {
            color: #641E16 !important;
        }

        .bdnone {
            border: none;
        }
    </style>
}