@model PetFragrant_Test.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row d-flex justify-content-center ">


    <div class="col-md-4 login d-flex justify-content-center flex-column  z-3">
        <h3 class="text-center qtxt m-2">登入</h3>

        <form asp-action="Login" class="p-2 ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label qtxt"></label>
                <input asp-for="UserEmail" type="email" class="form-control" placeholder="請輸入電子信箱" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label qtxt"></label>
                <input asp-for="Password" class="form-control" placeholder="請輸入密碼" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-2">
                <button class="qbtn" type="submit">
                    登入
                </button>
            </div>


            <div class="text-center m-3">
                <a href="/User/ForgotPsw">忘記密碼 ?</a><hr />
            </div>
            <div class="text-center">
                <span class="qtxt">香檳新朋友?</span>&nbsp;&nbsp;
                <a href="@Url.Action("Register", "Account")">這裡註冊</a>
            </div>

           @* <div class="mt-2 d-flex justify-content-center row">
                <input type="button" value="google登入" class="btn btn-danger m-2 col-12 col-md-3" />               
            </div> *@
        </form>


    </div>
</div>

</div>

<div class="bg"></div>

@section topCSS{
    <style>

        main {
            position: relative;
            background: #E1DBC5;
            z-index: 0;
        }

        .bg {
            z-index: 1;
            position: absolute;
            height: 60%;
            width: 100%;
            left: 0;
            bottom: 0;
            background: #CCB79E;
        }

        .login {
            background: #F5F5F5;
            width: 40%;
            height: 60vh;
            border-radius: 12px;
        }

        .login-btn {
            background-color: #807967;
            color: white;
        }

        .qbtn {
            width: 120px;
            border-radius: 10px;
            border-color: transparent;
            font-size: larger;
            font-weight: bold;
            background-color: #6C5C53;
            color: white !important
        }

        .qtxt {
            color: #6C5C53;
            font-weight: bolder;
        }
    </style>
}
@section topJS{
    <script src="https://accounts.google.com/gsi/client" async defer></script>
}