<div class="row">
    <ul class="d-flex classification">
        <li class="classify" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <a asp-action="ProductList" asp-controller="Products" class="text-white d-flex justify-content-center">
                <i class="material-icons">local_dining</i>
                食品
            </a>
            
            <div class="classify_list shadow">
                <!-- 細項分類 -->
                <div class="brand mt-2">
                    <ul class="text-black ">
                        <li><a>品牌A</a></li>
                        <li><a>品牌B</a></li>
                        <li><a>品牌C</a></li>
                        <li><a>品牌D</a></li>
                        <li><a>品牌E</a></li>
                        <li><a>品牌F</a></li>
                        <li><a>品牌G</a></li>
                        <li><a>品牌H</a></li>
                        <li><a>品牌I</a></li>
                    </ul>
                </div>
                <!-- 細項分類 -->
                <!-- 小卡片 -->
                <div class="content mt-2 ">
                    <!-- <ul><li class="text-black">熱門商品</li></ul> -->
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="classify" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <i class="material-icons">local_dining</i>
            玩具
            <div class="classify_list shadow">
                <!-- 細項分類 -->
                <div class="brand mt-2">
                    <ul class="text-black ">
                        <li><a>品牌A</a></li>
                        <li><a>品牌B</a></li>
                        <li><a>品牌C</a></li>
                        <li><a>品牌D</a></li>
                        <li><a>品牌E</a></li>
                        <li><a>品牌F</a></li>
                        <li><a>品牌G</a></li>
                        <li><a>品牌H</a></li>
                        <li><a>品牌I</a></li>
                    </ul>
                </div>
                <!-- 小卡片 -->
                <div class="content mt-2">
                    <!-- <ul><li class="text-black">熱門商品</li></ul> -->
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=11">
                        <p class="text-black text-center">title</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="classify" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <i class="material-icons">pets</i>
            清潔
            <div class="classify_list shadow">
                <!-- 細項分類 -->
                <div class="brand mt-2">
                    <ul class="text-black ">
                        <li><a>品牌A</a></li>
                        <li><a>品牌B</a></li>
                        <li><a>品牌C</a></li>
                        <li><a>品牌D</a></li>
                        <li><a>品牌E</a></li>
                        <li><a>品牌F</a></li>
                        <li><a>品牌G</a></li>
                        <li><a>品牌H</a></li>
                        <li><a>品牌I</a></li>
                    </ul>
                </div>
                <!-- 小卡片 -->
                <div class="content mt-2">
                    <!-- <ul><li class="text-black">熱門商品</li></ul> -->
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=12">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=12">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=12">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=12">
                        <p class="text-black text-center">title</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="classify" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <i class="material-icons">sanitizer</i>
            保健品
            <div class="classify_list shadow">
                <!-- 細項分類 -->
                <div class="brand mt-2">
                    <ul class="text-black ">
                        <li><a>品牌A</a></li>
                        <li><a>品牌B</a></li>
                        <li><a>品牌C</a></li>
                        <li><a>品牌D</a></li>
                        <li><a>品牌E</a></li>
                        <li><a>品牌F</a></li>
                        <li><a>品牌G</a></li>
                        <li><a>品牌H</a></li>
                        <li><a>品牌I</a></li>
                    </ul>
                </div>
                <!-- 小卡片 -->
                <div class="content mt-2">
                    <!-- <ul><li class="text-black">熱門商品</li></ul> -->
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="classify" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <i class="material-icons">health_and_safety</i>
            外出
            <div class="classify_list shadow">
                <!-- 細項分類 -->
                <div class="brand mt-2">
                    <ul class="text-black ">
                        <li><a>品牌A</a></li>
                        <li><a>品牌B</a></li>
                        <li><a>品牌C</a></li>
                        <li><a>品牌D</a></li>
                        <li><a>品牌E</a></li>
                        <li><a>品牌F</a></li>
                        <li><a>品牌G</a></li>
                        <li><a>品牌H</a></li>
                        <li><a>品牌I</a></li>
                    </ul>
                </div>
                <!-- 小卡片 -->
                <div class="content mt-2">
                    <!-- <ul><li class="text-black">熱門商品</li></ul> -->
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="classify" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <i class="material-icons">auto_awesome</i>
            美容
            <div class="classify_list shadow">
                <!-- 細項分類 -->
                <div class="brand mt-2">
                    <ul class="text-black ">
                        <li><a>品牌A</a></li>
                        <li><a>品牌B</a></li>
                        <li><a>品牌C</a></li>
                        <li><a>品牌D</a></li>
                        <li><a>品牌E</a></li>
                        <li><a>品牌F</a></li>
                        <li><a>品牌G</a></li>
                        <li><a>品牌H</a></li>
                        <li><a>品牌I</a></li>
                    </ul>
                </div>
                <!-- 小卡片 -->
                <div class="content mt-2">
                    <!-- <ul><li class="text-black">熱門商品</li></ul> -->
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                    <div class="content-card m-2">
                        <img src="https://picsum.photos/200/200/?random=10">
                        <p class="text-black text-center">title</p>
                    </div>
                </div>
            </div>
        </li>
      
    </ul>
</div>



<script>

    function displaySubMenu(li) {

        var subMenu = li.getElementsByTagName("div")[0]
        subMenu.style.display = "flex";
    }

    function hideSubMenu(li) {

        var subMenu = li.getElementsByTagName("div")[0];

        subMenu.style.display = "none";

    }

</script>   